<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mbg.mapper.OmsOrderMapper">
  <resultMap id="BaseResultMap" type="com.demo.mbg.model.OmsOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="guest_id" jdbcType="INTEGER" property="guestId" />
    <result column="charge_id" jdbcType="INTEGER" property="chargeId" />
    <result column="borrow_cabinet_id" jdbcType="INTEGER" property="borrowCabinetId" />
    <result column="return_cabinet_id" jdbcType="INTEGER" property="returnCabinetId" />
    <result column="borrow_time_seconds" jdbcType="BIGINT" property="borrowTimeSeconds" />
    <result column="return_time_seconds" jdbcType="BIGINT" property="returnTimeSeconds" />
    <result column="m_bill" jdbcType="DOUBLE" property="mBill" />
    <result column="m_prepayment" jdbcType="DOUBLE" property="mPrepayment" />
    <result column="m_balance" jdbcType="DOUBLE" property="mBalance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, guest_id, charge_id, borrow_cabinet_id, return_cabinet_id, borrow_time_seconds, 
    return_time_seconds, m_bill, m_prepayment, m_balance
  </sql>
  <select id="selectByExample" parameterType="com.demo.mbg.model.OmsOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oms_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.mbg.model.OmsOrderExample">
    delete from oms_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.mbg.model.OmsOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_order (guest_id, charge_id, borrow_cabinet_id, 
      return_cabinet_id, borrow_time_seconds, return_time_seconds, 
      m_bill, m_prepayment, m_balance
      )
    values (#{guestId,jdbcType=INTEGER}, #{chargeId,jdbcType=INTEGER}, #{borrowCabinetId,jdbcType=INTEGER}, 
      #{returnCabinetId,jdbcType=INTEGER}, #{borrowTimeSeconds,jdbcType=BIGINT}, #{returnTimeSeconds,jdbcType=BIGINT}, 
      #{mBill,jdbcType=DOUBLE}, #{mPrepayment,jdbcType=DOUBLE}, #{mBalance,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.mbg.model.OmsOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guestId != null">
        guest_id,
      </if>
      <if test="chargeId != null">
        charge_id,
      </if>
      <if test="borrowCabinetId != null">
        borrow_cabinet_id,
      </if>
      <if test="returnCabinetId != null">
        return_cabinet_id,
      </if>
      <if test="borrowTimeSeconds != null">
        borrow_time_seconds,
      </if>
      <if test="returnTimeSeconds != null">
        return_time_seconds,
      </if>
      <if test="mBill != null">
        m_bill,
      </if>
      <if test="mPrepayment != null">
        m_prepayment,
      </if>
      <if test="mBalance != null">
        m_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guestId != null">
        #{guestId,jdbcType=INTEGER},
      </if>
      <if test="chargeId != null">
        #{chargeId,jdbcType=INTEGER},
      </if>
      <if test="borrowCabinetId != null">
        #{borrowCabinetId,jdbcType=INTEGER},
      </if>
      <if test="returnCabinetId != null">
        #{returnCabinetId,jdbcType=INTEGER},
      </if>
      <if test="borrowTimeSeconds != null">
        #{borrowTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="returnTimeSeconds != null">
        #{returnTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="mBill != null">
        #{mBill,jdbcType=DOUBLE},
      </if>
      <if test="mPrepayment != null">
        #{mPrepayment,jdbcType=DOUBLE},
      </if>
      <if test="mBalance != null">
        #{mBalance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.mbg.model.OmsOrderExample" resultType="java.lang.Long">
    select count(*) from oms_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.guestId != null">
        guest_id = #{record.guestId,jdbcType=INTEGER},
      </if>
      <if test="record.chargeId != null">
        charge_id = #{record.chargeId,jdbcType=INTEGER},
      </if>
      <if test="record.borrowCabinetId != null">
        borrow_cabinet_id = #{record.borrowCabinetId,jdbcType=INTEGER},
      </if>
      <if test="record.returnCabinetId != null">
        return_cabinet_id = #{record.returnCabinetId,jdbcType=INTEGER},
      </if>
      <if test="record.borrowTimeSeconds != null">
        borrow_time_seconds = #{record.borrowTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="record.returnTimeSeconds != null">
        return_time_seconds = #{record.returnTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="record.mBill != null">
        m_bill = #{record.mBill,jdbcType=DOUBLE},
      </if>
      <if test="record.mPrepayment != null">
        m_prepayment = #{record.mPrepayment,jdbcType=DOUBLE},
      </if>
      <if test="record.mBalance != null">
        m_balance = #{record.mBalance,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_order
    set id = #{record.id,jdbcType=INTEGER},
      guest_id = #{record.guestId,jdbcType=INTEGER},
      charge_id = #{record.chargeId,jdbcType=INTEGER},
      borrow_cabinet_id = #{record.borrowCabinetId,jdbcType=INTEGER},
      return_cabinet_id = #{record.returnCabinetId,jdbcType=INTEGER},
      borrow_time_seconds = #{record.borrowTimeSeconds,jdbcType=BIGINT},
      return_time_seconds = #{record.returnTimeSeconds,jdbcType=BIGINT},
      m_bill = #{record.mBill,jdbcType=DOUBLE},
      m_prepayment = #{record.mPrepayment,jdbcType=DOUBLE},
      m_balance = #{record.mBalance,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.mbg.model.OmsOrder">
    update oms_order
    <set>
      <if test="guestId != null">
        guest_id = #{guestId,jdbcType=INTEGER},
      </if>
      <if test="chargeId != null">
        charge_id = #{chargeId,jdbcType=INTEGER},
      </if>
      <if test="borrowCabinetId != null">
        borrow_cabinet_id = #{borrowCabinetId,jdbcType=INTEGER},
      </if>
      <if test="returnCabinetId != null">
        return_cabinet_id = #{returnCabinetId,jdbcType=INTEGER},
      </if>
      <if test="borrowTimeSeconds != null">
        borrow_time_seconds = #{borrowTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="returnTimeSeconds != null">
        return_time_seconds = #{returnTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="mBill != null">
        m_bill = #{mBill,jdbcType=DOUBLE},
      </if>
      <if test="mPrepayment != null">
        m_prepayment = #{mPrepayment,jdbcType=DOUBLE},
      </if>
      <if test="mBalance != null">
        m_balance = #{mBalance,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.mbg.model.OmsOrder">
    update oms_order
    set guest_id = #{guestId,jdbcType=INTEGER},
      charge_id = #{chargeId,jdbcType=INTEGER},
      borrow_cabinet_id = #{borrowCabinetId,jdbcType=INTEGER},
      return_cabinet_id = #{returnCabinetId,jdbcType=INTEGER},
      borrow_time_seconds = #{borrowTimeSeconds,jdbcType=BIGINT},
      return_time_seconds = #{returnTimeSeconds,jdbcType=BIGINT},
      m_bill = #{mBill,jdbcType=DOUBLE},
      m_prepayment = #{mPrepayment,jdbcType=DOUBLE},
      m_balance = #{mBalance,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>