<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mbg.mapper.OmsPriceListAscMapper">
  <resultMap id="BaseResultMap" type="com.demo.mbg.model.OmsPriceListAsc">
    <result column="min_time_seconds" jdbcType="BIGINT" property="minTimeSeconds" />
    <result column="max_time_seconds" jdbcType="BIGINT" property="maxTimeSeconds" />
    <result column="price" jdbcType="DOUBLE" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    min_time_seconds, max_time_seconds, price
  </sql>
  <select id="selectByExample" parameterType="com.demo.mbg.model.OmsPriceListAscExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_price_list_asc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.demo.mbg.model.OmsPriceListAscExample">
    delete from oms_price_list_asc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.mbg.model.OmsPriceListAsc">
    insert into oms_price_list_asc (min_time_seconds, max_time_seconds, price
      )
    values (#{minTimeSeconds,jdbcType=BIGINT}, #{maxTimeSeconds,jdbcType=BIGINT}, #{price,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demo.mbg.model.OmsPriceListAsc">
    insert into oms_price_list_asc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="minTimeSeconds != null">
        min_time_seconds,
      </if>
      <if test="maxTimeSeconds != null">
        max_time_seconds,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="minTimeSeconds != null">
        #{minTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="maxTimeSeconds != null">
        #{maxTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.mbg.model.OmsPriceListAscExample" resultType="java.lang.Long">
    select count(*) from oms_price_list_asc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_price_list_asc
    <set>
      <if test="record.minTimeSeconds != null">
        min_time_seconds = #{record.minTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimeSeconds != null">
        max_time_seconds = #{record.maxTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_price_list_asc
    set min_time_seconds = #{record.minTimeSeconds,jdbcType=BIGINT},
      max_time_seconds = #{record.maxTimeSeconds,jdbcType=BIGINT},
      price = #{record.price,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>